<?xml version="1.0"?>
<ruleset name="Bluewater">
    <description>Bluewater PHP 8.3 and PSR-12 coding standard.</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="8"/>
    <arg name="report" value="full"/>

    <file>src</file>
    <file>examples</file>
    <file>tests</file>

    <exclude-pattern>*/config/*.ini.php</exclude-pattern>
    <exclude-pattern>*/config/*.session.php</exclude-pattern>

    <rule ref="PSR12"/>
</ruleset>
